<h2>Update subjects</h2>
<div>
	<form method="POST" action="/addsubject">
		<fieldset>
			<legend>Add Subject to Student</legend>
			<br>
			<label>Student:</label>
			<select name="student">
				{{#data1.row_info}}
				<option value="{{id}}">{{first_name}} {{last_name}}</option>
				{{/data1.row_info}}
			</select>
			<br>
			<label>Subject:</label>
			<select name="subject">
				{{#data2.row_info}}
				<option value="{{id}}">{{name}}</option>
				{{/data2.row_info}}
			</select>
			<br>
			<button>Go</button>
			<br>
		</fieldset>
	</form>
</div>